body {
    background-color: black !important;
}

h1{ 
    color: white !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    text-align: center;
}

li{
    color: white !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    font-size: 25px;
}

mark{
    color: #AC7DFF !important
}

h5 {
    color: white !important;
    
}

p{
    color: white !important;

}

